MVCClient/Service References/LobbyReference/LobbyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LobbyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service7/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service7/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service7/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILobbyService_CreateLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_CreateLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_JoinLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllLobbies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbies" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllLobbies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbiesResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllLobbiesWithCategoryId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbiesWithCategoryId" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_GetAllLobbiesWithCategoryId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLobbiesWithCategoryIdResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_IsUserInLobby_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInLobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_IsUserInLobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserInLobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_DoesUserAlreadyOwnALobby_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserAlreadyOwnALobby" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_DoesUserAlreadyOwnALobby_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserAlreadyOwnALobbyResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateLobbyStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLobbyStatus" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_UpdateLobbyStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLobbyStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_IsLobbyStarted_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLobbyStarted" />
  </wsdl:message>
  <wsdl:message name="ILobbyService_IsLobbyStarted_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLobbyStartedResponse" />
  </wsdl:message>
  <wsdl:portType name="ILobbyService">
    <wsdl:operation name="CreateLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/CreateLobby" message="tns:ILobbyService_CreateLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/CreateLobbyResponse" message="tns:ILobbyService_CreateLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/JoinLobby" message="tns:ILobbyService_JoinLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/JoinLobbyResponse" message="tns:ILobbyService_JoinLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetLobby" message="tns:ILobbyService_GetLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetLobbyResponse" message="tns:ILobbyService_GetLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbies">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetAllLobbies" message="tns:ILobbyService_GetAllLobbies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetAllLobbiesResponse" message="tns:ILobbyService_GetAllLobbies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbiesWithCategoryId">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/GetAllLobbiesWithCategoryId" message="tns:ILobbyService_GetAllLobbiesWithCategoryId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/GetAllLobbiesWithCategoryIdResponse" message="tns:ILobbyService_GetAllLobbiesWithCategoryId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserInLobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/IsUserInLobby" message="tns:ILobbyService_IsUserInLobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/IsUserInLobbyResponse" message="tns:ILobbyService_IsUserInLobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUserAlreadyOwnALobby">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/DoesUserAlreadyOwnALobby" message="tns:ILobbyService_DoesUserAlreadyOwnALobby_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/DoesUserAlreadyOwnALobbyResponse" message="tns:ILobbyService_DoesUserAlreadyOwnALobby_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/UpdateLobbyStatus" message="tns:ILobbyService_UpdateLobbyStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/UpdateLobbyStatusResponse" message="tns:ILobbyService_UpdateLobbyStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLobbyStarted">
      <wsdl:input wsaw:Action="http://tempuri.org/ILobbyService/IsLobbyStarted" message="tns:ILobbyService_IsLobbyStarted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILobbyService/IsLobbyStartedResponse" message="tns:ILobbyService_IsLobbyStarted_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILobbyService" type="tns:ILobbyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateLobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/CreateLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinLobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/JoinLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbies">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetAllLobbies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLobbiesWithCategoryId">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/GetAllLobbiesWithCategoryId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserInLobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/IsUserInLobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUserAlreadyOwnALobby">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/DoesUserAlreadyOwnALobby" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLobbyStatus">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/UpdateLobbyStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLobbyStarted">
      <soap:operation soapAction="http://tempuri.org/ILobbyService/IsLobbyStarted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LobbyService">
    <wsdl:port name="BasicHttpBinding_ILobbyService" binding="tns:BasicHttpBinding_ILobbyService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/Service7/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>