MVCClient/Service References/LoginServiceReference/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service6/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service6/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/Service6/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_AddGuestAndLoginEncryptPw_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestAndLoginEncryptPw" />
  </wsdl:message>
  <wsdl:message name="ILoginService_AddGuestAndLoginEncryptPw_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGuestAndLoginEncryptPwResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EncryptAdminPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:EncryptAdminPassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EncryptAdminPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptAdminPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DecryptPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:DecryptPassword" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DecryptPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DoesUserExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExist" />
  </wsdl:message>
  <wsdl:message name="ILoginService_DoesUserExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUserExistResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogin" />
  </wsdl:message>
  <wsdl:message name="ILoginService_GetLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="AddGuestAndLoginEncryptPw">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/AddGuestAndLoginEncryptPw" message="tns:ILoginService_AddGuestAndLoginEncryptPw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/AddGuestAndLoginEncryptPwResponse" message="tns:ILoginService_AddGuestAndLoginEncryptPw_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EncryptAdminPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/EncryptAdminPassword" message="tns:ILoginService_EncryptAdminPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/EncryptAdminPasswordResponse" message="tns:ILoginService_EncryptAdminPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DecryptPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/DecryptPassword" message="tns:ILoginService_DecryptPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/DecryptPasswordResponse" message="tns:ILoginService_DecryptPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUserExist">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/DoesUserExist" message="tns:ILoginService_DoesUserExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/DoesUserExistResponse" message="tns:ILoginService_DoesUserExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/GetLogin" message="tns:ILoginService_GetLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/GetLoginResponse" message="tns:ILoginService_GetLogin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGuestAndLoginEncryptPw">
      <soap:operation soapAction="http://tempuri.org/ILoginService/AddGuestAndLoginEncryptPw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EncryptAdminPassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/EncryptAdminPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DecryptPassword">
      <soap:operation soapAction="http://tempuri.org/ILoginService/DecryptPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUserExist">
      <soap:operation soapAction="http://tempuri.org/ILoginService/DoesUserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogin">
      <soap:operation soapAction="http://tempuri.org/ILoginService/GetLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/Service6/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>